
body {
    background-image: url(../img/bd2.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: right;
    padding: 350px 0 0 0;
    position: absolute;
    left: 0;
    bottom: 0px;
    overflow: hidden;
    animation:bd_anim 125s linear infinite;
}
  @keyframes bd_anim{
    0%{background-position:0 0;}
    00%{background-position: -2122px 0;}
  }
  
    
 

header{
    height: 60px;
    overflow: hidden;
    opacity: 1 ;

}


#Snake {
  
  font-family: "Alagard", Times, serif;
  font-size: 140px;
  color:#7Ca70d;
  text-shadow: 
  -1px -1px 1px #efede3, 
  0px 1px 0 #2e2e2e, 
  0px 2px 0 #2c2c2c, 
  0px 3px 0 #2a2a2a, 
  0px 4px 0 #282828, 
  0px 5px 0 #262626, 
  0px 6px 0 #242424, 
  0px 7px 0 #222, 
  0px 8px 0 #202020, 
  0px 9px 0 #1e1e1e, 
  0px 10px 0 #1c1c1c, 
  0px 11px 0 #1a1a1a, 
  0px 12px 0 #181818, 
  0px 13px 0 #161616, 
  0px 14px 0 #141414, 
  0px 15px 0 #121212,
  2px 20px 5px rgba(0, 0, 0, 0.9),
  5px 23px 5px rgba(0, 0, 0, 0.3),
  8px 27px 8px rgba(0, 0, 0, 0.5),
  8px 28px 35px rgba(0, 0, 0, 0.9);
  position: relative;
  left:550px;
  top:63px;
}
#Crypto {

  font-family: "Alagard", Times, serif;
  font-size: 140px;
  color:#690000;
  text-shadow: 
  -1px -1px 1px #efede3, 
  0px 1px 0 #2e2e2e, 
  0px 2px 0 #2c2c2c, 
  0px 3px 0 #2a2a2a, 
  0px 4px 0 #282828, 
  0px 5px 0 #262626, 
  0px 6px 0 #242424, 
  0px 7px 0 #222, 
  0px 8px 0 #202020, 
  0px 9px 0 #1e1e1e, 
  0px 10px 0 #1c1c1c, 
  0px 11px 0 #1a1a1a, 
  0px 12px 0 #181818, 
  0px 13px 0 #161616, 
  0px 14px 0 #141414, 
  0px 15px 0 #121212,
  2px 20px 5px rgba(0, 0, 0, 0.9),
  5px 23px 5px rgba(0, 0, 0, 0.3),
  8px 27px 8px rgba(0, 0, 0, 0.5),
  8px 28px 35px rgba(0, 0, 0, 0.9);
  position: relative;
  left:960px;
  bottom:74px;
}
#Play {

  font-family: "Alagard", Times, serif;
  font-size: 100px;
  color:#690000;
  text-shadow: 
  -1px -1px 1px #efede3, 
  0px 1px 0 #2e2e2e, 
  0px 2px 0 #2c2c2c, 
  0px 3px 0 #2a2a2a, 
  0px 4px 0 #282828, 
  0px 5px 0 #262626, 
  0px 6px 0 #242424, 
  0px 7px 0 #222, 
  0px 8px 0 #202020, 
  0px 9px 0 #1e1e1e, 
  0px 10px 0 #1c1c1c, 
  0px 11px 0 #1a1a1a, 
  0px 12px 0 #181818, 
  0px 13px 0 #161616, 
  0px 14px 0 #141414, 
  0px 15px 0 #121212,
  2px 20px 5px rgba(0, 0, 0, 0.9),
  5px 23px 5px rgba(0, 0, 0, 0.3),
  8px 27px 8px rgba(0, 0, 0, 0.5),
  8px 28px 35px rgba(0, 0, 0, 0.9);
  position: relative;
  left:840px;
  bottom:20px;
}
#home{

  color:#ffffff;
  position:relative;
  right:60px;

}
#whitepaper{
  color:#ffffff;
  position:relative;
  right:30px;

}

#events{
  color:#ffffff;
  position:relative;
  left:0px;

}

#faq{
  color:#ffffff;
  position:relative;
  left:30px;

}

p{
  font-family: "Alagard", Times, serif;
  font-size: 30px;
  color:whitesmoke;
  
}
div h1 p a {
  color: #ffffff;
  word-spacing: 10px

}
div img{
  width:60px;
  height:68px;
  position:relative;
  left:30px;
  margin: -52em 435px 35em;
  filter: drop-shadow(.75em .75em .5em black);


}
div h3 a {
  color: #ffffff;
  word-spacing: 10px

}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }